* {
    margin: 0px;
}
nav {
    top: 0px;
    left: 0px;
    position: fixed;
}

footer, nav, .contentShifter {
    height: 100px;
    width: 100%;
    background-color: #55B3D0;
}

section:nth-child(even) {
    background-color: #282828;
}

section:nth-child(odd) {
    background-color: #55B3D0;
}

section {
/*     border: 1px solid black;    
 */    min-height: 80vh;
    width: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

.navButton {
    color: white;
    min-width: 175px;
    height: 75px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Montserrat';
    user-select: none;
    cursor: pointer;
}

section header, section article {
    margin: 0px 25px;
}

section header .logo {
    width: 80%;
}

section header p {
    font-size: 20px;
    font-weight: bold;
}