@import './fluid-type.mixin.scss';

* {
    margin: 0px;
}
nav {
    top: 0px;
    left: 0px;
    position: fixed;
}

footer, nav, .contentShifter {
    z-index: 1;
    height: 50px;
    width: 100%;
    background-color: #55B3D0;
    padding-top: 20px;
    padding-left: 15px;
}

section:nth-child(even) {
    background-color: #282828;
}

section:nth-child(odd) {
    background-color: #55B3D0;
}

section {
    min-height: 80vh;
    width: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

.navButton {
    color: white;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    user-select: none;
    cursor: pointer;
    @include fluid-type(min-width, 200px, 600px, 35px, 100px);
    @include fluid-type(padding-left, 200px, 600px, 0px, 25px);
    @include fluid-type(padding-right, 200px, 600px, 0px, 25px);
    @include fluid-type(font-size, 100px, 600px, 10px, 18px);
}

.navButton:hover {
    box-shadow: 0 4px 2px -2px black;
    transition: 0.2s linear all;
}

.centered {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

section header.top {
    @include fluid-type(padding-top, 300px, 800px, 15px, 150px);
}


section header, section article {
    @include fluid-type(margin-left, 200px, 1000px, 5px, 40px);
    @include fluid-type(margin-right, 200px, 1000px, 5px, 40px);
}

section header .logo {
    @include fluid-type(width, 200px, 1000px, 150px, 800px);
}

section header p {
    @include fluid-type(font-size, 300px, 800px, 18px, 28px);
    font-weight: bold;
    margin-bottom: 25px;
}

section article {
    @include fluid-type(font-size, 300px, 800px, 14px, 20px);
    padding-bottom: 35px;
}

@media screen and (max-width: 300px) {
    * {
        transition: 0.1s all linear;
    }
    .navButton {
        display: block;
    }

    .navButton:hover {
        box-shadow: 0 4px 2px -2px transparent;
    }
    nav {
        position: relative;
        height: min-content;
    }
    .contentShifter {
        height: 0px;
    }
}